/* Copyright 2022, Ian Quinn */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Page Structure */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

html {
/*     display: block; */
    margin:0;
    padding: 0;
    width: auto;
    height: auto;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-areas: 
			'header'
			'model'
			'main'
			'aside'
			'footer'
		;
    overflow: auto;
    z-index: 1;
    margin: 0;
    padding: 2rem;
    width: auto;
    height: 100%;
    background: #16161d;
    font-family: 'Space Mono', monospace;
    font-size: 100%;
    letter-spacing: 256%;
    text-align:left;
    color: #F5F5F5;
    
    
    
}

@media screen and (min-width: 1366px) {
	body {
		grid-template-columns: 24% 36% 28%;
		grid-row-gap: 2rem;
		grid-column-gap: 4rem;
		grid-template-areas: 
			'header main aside'
			'header main footer'
		;
		padding: 6rem;
		justify-content: space-between;
	}
}
	    

header{
	grid-area: header;
    width: auto;
}

header a{
    display: inline-block;
    clear: left;
    margin: 0 0.8rem 0.8rem 0;
}

header img{
	width: 64px;
	height: auto;
}
@media screen and (min-width: 1366px) {
	header{
		grid-column: 1 / 1;
		grid-row: 1 / span 2;
    }
	header img{
		display: inline-block;
		position: fixed;
	    bottom: 16px;
	    right: 24px;
	    width: 42px;
		height: auto;
/* 		transform: translate(-50%, -50%) */
	}
}

main{
	grid-area: main;
    width: auto;
}
@media screen and (min-width: 1366px) {
	main{
		grid-row: 1 / span 2;
    }
}


section{
    margin: auto;
}

article{
    margin: auto auto 2rem;
}

model-viewer{
    width: 200px;
    height: 360px;	
    margin: 24px auto 0;
}
model-viewer:hover{
    /* cursor: none !important; */
}

hr{
	margin: 2rem auto;
	border: 0;
	height: 1px;
	background: #7B1FA2;
}

aside{
	grid-area: aside;
	
    width: auto;
}
@media screen and (min-width: 1366px) {
	aside{
		grid-row: 1 / span 1;
    }
}
footer{
	grid-area: footer;
    width: auto;
    text-align: center;
}
@media screen and (min-width: 1366px) {
	footer{
		grid-row: 2 / span 2;
    }
}

.model-viewer{
    grid-area: header;
	border: 1px solid #7B1FA2;
	background: transparent;
	z-index: 1;
	
}




/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Typography */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


h1{
    margin: 0 0 1rem;
    font-family: 'Press Start 2P', monospace;
    font-size: 2.4rem;
    letter-spacing: 0.16rem;
    word-spacing: -0.64rem;
    text-transform: uppercase;
    text-align: justify;
/*     color: #00E676; */
}
@media screen and (min-width: 1366px) {
	h1{
		font-size: 3.2rem;
	}
}

h2{
    margin: 0 0 0.64rem;
    font-family: 'Press Start 2P', monospace;
	font-size: 1.6rem;
	line-height: 150%;
    letter-spacing: 0.16rem;
    word-spacing: -0.32rem;
    text-transform: uppercase;
}
h3{
    margin: 0 0 0.64rem;
    font-family: 'Press Start 2P', monospace;
    font-size: 0.8rem;
    letter-spacing: 0.16rem;
    word-spacing: -0.32rem;
    text-transform: uppercase;
}
h4{
    margin: 0 0 .64rem;
}
h5{
    margin: 0;
}
h6{
    margin: 0;
}
p{
    margin: 0 0 1.6rem;
    font-size: 1rem;
    line-height: 150%;
}

aside p{
    margin: 0 0 1.6rem;
    font-size: 0.8rem;
    line-height: 150%;
}

ul{
	font-size: 1rem;
    padding:0 0 0 1.6rem;
}
small{
	font-size: 0.8rem;
	color: #00E676;
}

a{
	font-size: 1rem;
    color: #00E676;
}

a:hover,
a:focus{
    color: #F5F5F5;
    background: #FF3D00;
}

header a{
    font-size: 1.2rem;
}

aside a{
    font-size: 0.8rem;
}

::selection {
    color: #F5F5F5;
    background: #7B1FA2;
}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Reticle + Crosshair UI */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/* Reticle */
.reticle{
    display: inline-block;
    position: fixed;
    z-index: 0;
    padding: 1.6rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}
.reticle__components{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
}
.reticle__corner{
    display: inline-block;
    position: absolute;
    border: 2px solid #00E676;
    width: 0.8rem;
    height: 0.8rem;
    background: transparent;
}
.reticle__corner--top-left{
    top: -0.8rem;
    left: -0.8rem;
    border-bottom: 0;
    border-right: 0;
}
.reticle__corner--top-right{
    top: -0.8rem;
    right: -0.8rem;
    border-bottom: 0;
    border-left: 0;
}
.reticle__corner--bottom-left{
    bottom: -0.8rem;
    left: -0.8rem;
    border-top: 0;
    border-right: 0;
}
.reticle__corner--bottom-right{
    bottom: -0.8rem;
    right: -0.8rem;
    border-top: 0;
    border-left: 0;

}


/* Default Crosshair */

.crosshair{
    display: none;
/*     display: inline-block; */
    position: relative;
    z-index: 2;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid #FF3D00;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.crosshair::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    width: 1px;
    height: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FF3D00;
    
}
.crosshair::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    width: 2rem;
    height: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FF3D00;
    
}
.crosshair__dot{
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 0.32rem;
    height: 0.32rem;
    border: 2px solid #00E676;
    border-radius: 100%;
    background: #16161d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.crosshair__dot::before{
	content: "";
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 2.4rem;
    height: 2.4rem;
    border: 1px solid #FF3D00;
    border-radius: 100%;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (min-width: 1366px) {
	*{
    	cursor: none;
	}
	.crosshair{
    	display: inline-block;
	}
}

/* All-Seeing Eye Crosshair */
.crosshair.crosshair--eye{
    display: none;
/*     display: inline-block; */
    position: relative;
    z-index: 1;
    width: 3.6rem;
    height: 2.4rem;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: transparent;
    border-right-width: 4px;
    border-right-style: solid;
    border-right-color: transparent;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #F5F5F5;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.crosshair.crosshair--eye::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 3.2rem;
    height: 3.2rem;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: #F5F5F5;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #F5F5F5;
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-right-width: 0;
    border-right-style: solid;
    border-right-color: transparent;
    transform: rotate(45deg) skew(12deg,12deg);
    left: 3px;
    bottom: -26px;
}
.crosshair--eye .crosshair__eye{
    display: inline-block;
    position: absolute;
    z-index: 1;
    border: 3px solid #F5F5F5;
    border-radius: 100% 0;
    width: 1rem;
    height: 1rem;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -32%) rotate(45deg);
}
.crosshair--eye .crosshair__dot{
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 0.64rem;
    height: 0.64rem;
    border-left: 2px solid #F5F5F5;
    border-right: 2px solid #F5F5F5;
    border-radius: 100%;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -8%);
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Utilities */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media screen and (min-width: 1366px) {
	.hide--desktop{
		display:none;
	}
}

.sticky{
	position: sticky;
	top: 12%;
}

.rotate45{
    transform: rotate(45deg);
}

.rotating {
  -webkit-animation: rotating 4s linear infinite;
  -moz-animation: rotating 4s linear infinite;
  -ms-animation: rotating 4s linear infinite;
  -o-animation: rotating 4s linear infinite;
  animation: rotating 4s linear infinite;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Animations */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* CRT - modfied from src http://aleclownes.com/2017/02/01/crt-display.html */

.crt-abberation{
    animation: textShadow 1.6s infinite;
}
.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    animation: flicker 4s infinite;
    
}

  @keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.90626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.83891;
    }
    30% {
    opacity: 0.65583;
    }
    35% {
    opacity: 0.67807;
    }
    40% {
    opacity: 0.26559;
    }
    45% {
    opacity: 0.84693;
    }
    50% {
    opacity: 0.96019;
    }
    55% {
    opacity: 0.08594;
    }
    60% {
    opacity: 0.20313;
    }
    65% {
    opacity: 0.71988;
    }
    70% {
    opacity: 0.53455;
    }
    75% {
    opacity: 0.37288;
    }
    80% {
    opacity: 0.71428;
    }
    85% {
    opacity: 0.70419;
    }
    90% {
    opacity: 0.7003;
    }
    95% {
    opacity: 0.36108;
    }
    100% {
    opacity: 0.24387;
    }
  }

  @keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    5% {
      text-shadow: 1.7928974010788217px 0 1px rgba(0,30,255,0.5), -1.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    20% {
      text-shadow: 1.4794037899852017px 0 1px rgba(0,30,255,0.5), -1.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    35% {
      text-shadow: 1.896914047650351px 0 1px rgba(0,30,255,0.5), -1.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    40% {
      text-shadow: 1.870905614848819px 0 1px rgba(0,30,255,0.5), -1.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    45% {
      text-shadow: 1.231056963361899px 0 1px rgba(0,30,255,0.5), -1.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    55% {
      text-shadow: 1.3758461067427543px 0 1px rgba(0,30,255,0.5), -1.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    60% {
      text-shadow: 1.202193051050636px 0 1px rgba(0,30,255,0.5), -1.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    65% {
      text-shadow: 1.8638780614874975px 0 1px rgba(0,30,255,0.5), -1.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    90% {
      text-shadow: 0.443339761481782px 0 1px rgba(0,30,255,0.5), -1.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
  }

/* Moving Scanline -  - modfied from src https://codepen.io/meduzen/pen/zxbwRV */
.scanline {
    position: fixed;
    overflow: initial;
    pointer-events: none;
    left: 0;
    bottom: 0;
    width: 200%;
    height: 100%;
    animation: flicker 4s infinite;
}
.scanline:before {
    display: block;
    pointer-events: none;
    content: '';
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 4px;
    z-index: 1;
    background: rgba(0, 230, 118, 0.08);
    opacity: .64;
    transform: rotate(-1deg);
    animation: scanline 6s linear infinite;}
@keyframes scanline {
    0% {
        transform: translate3d(0,20000%,0);
        bottom: 0%;   
    }
}
