/* Copyright 2022, Ian Quinn */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Variables */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* Color */
:root{
    --light: #d8d8b4;
    --dark: #181218;
    --red: #b00c0f;
    --green: #32fead;
    --blue: #242797;
    --yellow: #feee0c;
    --orange: #f98707;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Page Structure */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

html {
    margin:0;
    padding: 0;
    width: auto;
    height: auto;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-areas: 
        'header'
        'model'
        'main'
        'aside'
        'footer'
    ;
    overflow: auto;
    z-index: 1;
    margin: 0;
    padding: 2rem;
    width: auto;
    height: 100%;
    background: var(--dark);
    font-family: 'Barlow', sans-serif;
    font-size: 100%;
    font-weight: 400;
    letter-spacing: 256%;
    text-align:left;
    color: var(--light);
}
@media screen and (min-width: 1366px) {
	body {
		grid-template-columns: 24% 36% 28%;
		grid-row-gap: 2rem;
		grid-column-gap: 4rem;
		grid-template-areas: 
			'header main aside'
			'header main aside'
            'footer footer footer'
		;
		padding: 6rem;
		justify-content: space-between;
	}
}
	    
header{
	grid-area: header;
    width: auto;
    text-align: left;
}
@media screen and (min-width: 1366px) {
	header{
        grid-area: header;
		grid-column: 1 / 1;
		grid-row: 1 / span 1;
    }
}

header h1{
    margin: 2.4rem 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 6.4rem;
    font-weight: 900;
    line-height: 80%;
    letter-spacing: 0.16rem;
    /* word-spacing: -0.64rem; */
    text-transform: uppercase;
    color: var(--light);
}
@media screen and (min-width: 1366px) {
	header h1{
        margin: 0 0 2.4rem;
		font-size: 6.4rem;
	}
}
header h2{
    border-bottom: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.8rem;
    color: var(--light);
}

header img{
    display: inline-block;
    position: fixed;
    z-index: 1;
    top: 14px;
    left: 20px;
    width: 32px;
    height: auto;
}


nav{
    margin: 0 0 1rem 0;
}
nav a{
    display: inline-block;
    margin: 0 0.32rem 0.64rem 0;
    padding: 16px 16px 4px 6px;
    border: 2px solid var(--red);
    border-radius: 6px;
    width: auto;
    min-width: 8rem;
    /* font-family: 'Source Code Pro', monospace; */
	font-size: 1.4rem; 
    font-weight: 400;
    letter-spacing: 0.064rem;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--light);
}
nav a:hover,
nav a:focus{
    border-color: var(--blue);
    padding: 16px 16px 4px 6px;
    color: var(--light);
    background: var(--blue);
}

nav.online a{
    border: 2px solid var(--blue);
    border-radius: 4px;
    padding: 12px 24px 4px 6px;
    width: auto;
    min-width: initial;
    font-size: 0.8rem;
    text-align: center;
}
nav.online a:hover,
nav.online a:focus{
    border: 2px solid var(--blue);
    padding: 12px 24px 4px 6px;
    color: var(--light);
    background: var(--blue);
}

nav.page a{
    border: 2px solid var(--light);
    border-radius: 4px;
    padding: 12px 24px 4px 6px;
    width: auto;
    min-width: initial;
    font-size: 0.8rem;
    text-align: center;
}
nav.page a:hover,
nav.page a:focus{
    border: 2px solid var(--blue);
    padding: 12px 24px 4px 6px;
    color: var(--light);
    background: var(--blue);
}

main{
	grid-area: main;
    width: auto;
}
@media screen and (min-width: 1366px) {
	main{
        grid-area: main;
		grid-row: 1 / span 3;
        /* margin: 1.35rem 0 0; */
    }
}

main section{
    margin: auto auto 8rem; 
}

main article{
    margin: auto auto 1rem;
    padding: 0.64rem 0.64rem; 
    border: 8px solid var(--orange);
    border-radius: 16px;
}

section{
    margin: auto;
}

article{
    margin: auto;
}

model-viewer{
    margin: 1rem auto 4rem;
    border: 1px solid var(--blue);
    border-radius: 8px;
    padding: 2rem 1rem;
    width: 200px;
    height: 360px;	
    opacity: 1;
}
model-viewer:hover{
    cursor: none !important;
}
model-viewer::part(default-progress-bar){
    display: none;
}
@media screen and (min-width: 1366px) {
	model-viewer{
        margin: 0 auto 4rem;
    }
}

hr{
	margin: 2rem auto;
	border: 0;
	height: 1px;
    opacity: 0.24;
	background: var(--light);
}
main hr{
	margin: 4rem auto;
}

aside{
	grid-area: aside;	
    width: auto;
}
@media screen and (min-width: 1366px) {
	aside{
        grid-area: aside;
        grid-column: 3 / 3;
		grid-row: 1 / span 1;
    }
}

footer{
	grid-area: footer;
    margin: 0 0 4rem;
    width: auto;
    text-align: center;
    
}
@media screen and (min-width: 1366px) {
	footer{
        grid-area: footer;
		position: fixed;
        margin: 0;
        left:22px;
        bottom:19px;
    }
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Typography */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


h1{
    margin: 2.4rem 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 4rem;
    font-weight: 200;
    line-height: 80%;
    letter-spacing: -0.16rem;
    /* word-spacing: -0.64rem; */
    text-transform: uppercase;
    color: var(--light);
}
@media screen and (min-width: 1366px) {
	h1{
        margin: 3.2rem 0 2.4rem;
        font-size: 6.4rem;
        letter-spacing: -0.32rem;
	}
}

h2{
    margin: 0 0 0.48rem;
    border-bottom: 4px solid var(--orange);
    padding: 0 0 0.96rem;
    font-family: 'Barlow Condensed', sans-serif;
	font-size: 2.4rem;
    font-weight: 700;
	line-height: 80%;
    text-transform: uppercase;
    color: var(--orange);
}
@media screen and (min-width: 1366px) {
	h2{
		font-size: 4rem;
	}
}

h3{
    margin: 1rem 0 0.24rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    color: var(--yellow);
}

h4{
    margin: 0 0 .64rem;
}
h5{
    margin: 0;
}
h6{
    margin: 0;
}

p{
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    /* letter-spacing: 0.032rem; */
    line-height: 150%;
}
p + p{
    text-indent: 2.4rem;
}

aside p{
    margin: 0 0 1.6rem;
    font-size: 0.8rem;
    line-height: 150%;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Source Code Pro', monospace;
	font-size: inherit;
}    
li::before{
    content:'×';
    padding: 0 8px 0 0;
}

small{
    font-family: 'Digital-7 Mono', sans-serif;
	font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
	color: var(--green);
}

p a{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-weight: 400;
    text-align: initial;
    text-decoration: underline;
    text-transform: none;
    color: var(--yellow);
}
p a:hover,
p a:focus{
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--light);
    background: var(--red);
}

::selection {
    color: var(--light);
    background: var(--blue);
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Reticle + Crosshair UI */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/* Reticle */
.reticle{
    display: inline-block;
    position: fixed;
    z-index: 0;
    padding: 1.6rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}
.reticle__components{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
}
.reticle__corner{
    display: inline-block;
    position: absolute;
    border: 2px solid var(--green);
    width: 1rem;
    height: 1rem;
    background: transparent;
}
.reticle__corner--top-left{
    top: -0.8rem;
    left: -0.8rem;
    border-bottom: 0;
    border-right: 0;
}
.reticle__corner--top-right{
    top: -0.8rem;
    right: -0.8rem;
    border-bottom: 0;
    border-left: 0;
}
.reticle__corner--bottom-left{
    bottom: -0.8rem;
    left: -0.8rem;
    border-top: 0;
    border-right: 0;
}
.reticle__corner--bottom-right{
    bottom: -0.8rem;
    right: -0.8rem;
    border-top: 0;
    border-left: 0;

}


/* Default Crosshair */

.crosshair{
    display: none; /* Hide on mobile */
    /* display: inline-block; */
    position: relative;
    z-index: 2;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--green);
    background: transparent;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.crosshair::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    width: 2px;
    height: 2rem;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    background: var(--green);
    
}
.crosshair::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    width: 2rem;
    height: 2px;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    background: var(--green);
    
}
.crosshair__dot{
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 0.24rem;
    height: 0.24rem;
    border: 4px solid var(--yellow);
    border-radius: 100%;
    background: var(--dark);
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
}
.crosshair__dot::before{
	content: "";
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    border: 4px solid var(--blue);
    border-radius: 100%;
    background: transparent;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
}
@media screen and (min-width: 1366px) {
	*{
    	cursor: none;
	}
	.crosshair{
    	display: inline-block;
	}
}


/* Mouse Coordinates */
.mouse-coordinates{
    display: inline-block;
    position: fixed;
    top:20px;
    right:19px;
}
@media screen and (min-width: 1366px) {
    .mouse-coordinates{
        display: inline-block;
        position: fixed;
        top:20px;
        right:19px;
    }
}

/* Clock */
.clock__num{
    display: inline-block;
    position: fixed;
    bottom:18px;
    right:19px;
}
@media screen and (min-width: 1366px) {
    .clock__num{
        display: inline-block;
        position: fixed;
        bottom:18px;
        right:19px;
    }
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Utilities */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media screen and (min-width: 1366px) {
	.hide--desktop{
		display:none;
	}
}

@media screen and (min-width: 1366px) {	
    .sticky{
        position: sticky;
        top: 12%;
    }
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Effects & Animations */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


.rotate45{
    transform: rotate(45deg);
}
.rotating {
  -webkit-animation: rotating 4s linear infinite;
  -moz-animation: rotating 4s linear infinite;
  -ms-animation: rotating 4s linear infinite;
  -o-animation: rotating 4s linear infinite;
  animation: rotating 4s linear infinite;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* CRT - modfied from src http://aleclownes.com/2017/02/01/crt-display.html */

.crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0.08) 50%, rgba(0, 0, 0, 0.04) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.08), rgba(0, 255, 0, 0.08), rgba(0, 0, 255, 0.04));
    z-index: 1;
    background-size: 100% 9px, 3px 100%;
    pointer-events: none;
}

/* Moving Scanline -  - modfied from src https://codepen.io/meduzen/pen/zxbwRV */
.scanline {
    position: fixed;
    overflow: initial;
    pointer-events: none;
    left: 0;
    bottom: 0;
    width: 200%;
    height: 100%;
}
.scanline:before {
    display: block;
    pointer-events: none;
    content: '';
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 24px;
    z-index: 1;
    background: rgba(213, 226, 220, 0.08);
    background: linear-gradient(rgba(213, 226, 220, 0) 0%, rgba(213, 226, 220, 0.08) 40%,rgba(213, 226, 220, 0.08) 60%, rgba(213, 226, 220, 0) 100%);
    opacity: .16;
    animation: scanline 8s linear infinite;
}
@keyframes scanline {
    0% {
        transform: translate3d(0,1000%,0);
        bottom: 0%;   
    }
}