/* © 2021-2023, Ian Quinn */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Reset */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

*,
*::before,
*::after{
    box-sizing: border-box;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Variables */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* Color */ 
:root{

    --light: hsl(64, 16%, 88%);
    --dark: hsl(244, 8%, 16%);
    --neutral: hsl(0, 0%, 50%);
    /* Pantone Blue 072 C | #10069F */
    --primary: hsl(244, 93%, 32%);
    --primary: hsl(240, 100%, 60%);
    --debug: hsl(32, 100%, 50%);
    --foreground: var(--dark);
    --background: var(--light);
    --reveal-order: 1;
}

@media (prefers-color-scheme: dark) {
    :root{
        /*Pantone Safety Yellow 13-0630 TN C | #EDFF00 */
        --primary: hsl(64, 100%, 50%);
        /* --primary: hsl(240, 100%, 64%); */
        --foreground: var(--light);
        --background: var(--dark); 
    }
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Page Structure */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

html {  
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
}

body {
    display: grid; 
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 4rem;
    grid-template-areas: 
        'threejs'
        'nav'    
        'header'
        'main'
        'aside'
        'footer'
        
    ;
    margin: 0;
    background-color: var(--background);
    /* background-image: radial-gradient(rgba(0,0,0,0.24) 8%, transparent 0%); */
    /* background-position: 0; */
    /* background-size: 0.5rem 0.5rem; */
    /* background-attachment: fixed; */
    font-family: 'Space Grotesk', sans-serif; 
    font-family: "tt-commons-pro", sans-serif;
    font-size: 1rem;
    color: var(--foreground);
}
@media screen and (min-width: 1024px) {
	body {
        grid-row-gap: 0;
		grid-template-areas: 
            'threejs threejs'
            'nav nav'
			'header main'
            'aside main'
            'footer footer'
            
		;
	}
}
@media (prefers-color-scheme: dark) {
    body {
        /* background-image: radial-gradient(rgba(255,255,255,0.16) 8%, transparent 8%); */
    }
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Typography */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


h1{
    margin: 0;
    font-size: 4rem;
    overflow-wrap:break-word;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--primary);
}
@media screen and (min-width: 1024px) {
	h1{
        font-size: 6rem;
	}
}
@media screen and (min-width: 1366px) {
	h1{
        font-size: 8rem;
    }
}

h2{
    margin: 0 0 2rem;
	font-size: 2rem;
    font-weight: 700;
	line-height: 100%;
    text-transform: uppercase;
    color: var(--foreground);
}

h3{
    margin: 0 0 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--primary);
}

h4{
    margin: 0 0 0.5rem;
}
h5{
    margin: 0;
}
h6{
    margin: 0;
}

p{
    margin: 0 0 2rem;
    font-size: 1rem;
    line-height: 150%;
    word-spacing: 0.125rem;
}
@media screen and (min-width: 1024px) {
    p{
        /* font-size: 1.24rem; */
    }
}
p + p{
    text-indent: 2rem;
}
p.dropcap:first-letter{
    float: left;
    margin: 0 0.32rem 0 0;
    border-radius: 4px;
    padding: 0 0.24rem;
    background: var(--primary);
    font-size: 4rem;
    font-weight: 400;
    line-height: 100%;
    color: var(--background);
    transform: translateY(0.16rem);
}
@media screen and (min-width: 1024px) {
    p.dropcap:first-letter{
        font-size: 4rem;
    }
}

ul{
    margin: 0 0 2rem;
    padding: 0 0 0 1.6rem;
    list-style: none;

	font-size: 1rem;
} 
ul li:last-child{
    margin: 0 0 1.2rem;
} 
ul li::before{
    content:'⪧';
    position: absolute;
    top: -1rem;
    left: -1.6rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
} 

ol{
    margin: 3rem 0 0;
    padding: 0 0 0 1.6rem;
    list-style: none;
	font-size: 1rem;
    counter-reset: count 0;
} 
@media screen and (min-width: 1366px) {
    ol{
        padding: 0;
    }
}
ol li{
    counter-increment: count 1;
    padding: 0; 
} 
@media screen and (min-width: 1366px) {
    ol li{
        padding: 0 0 0 1.6rem; 
    } 
}
ol li::before{
    content: counter(count, decimal);
    display: inline-block;
    position: absolute;
    top: 0;
    left: -2.4rem;
    width: 2rem;
	font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary);
    text-align: center;
    direction: rtl;
} 
@media screen and (min-width: 1366px) {
    ol li::before{
        left: -0.64rem;
    } 
}

li{
    position: relative;
    margin: 0 0 0.64rem;
} 
li:last-child{
    margin: 0;
} 

small{
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
	color: var(--neutral);
}

.hacked{
    display: inline-block;
    font-family: 'Space Mono', monospace;
    font-family: "tt-commons-pro", sans-serif;
    color: var(--primary);
    transition: transform .125s ease-in-out;
}
.hacked:hover{
    transform: translate3d(2.5rem, 0, 0);
}
.hacked.hacking{
    /* transform: translate3d(2.5rem, 0, 0); */
}

/* Mouse Coordinates */
.mouse-coordinates{
    /* display: none; */
    font-family: 'Space Mono', monospace;
    color: var(--background);
    text-align: center;
}

/* Clock */
.clock__num{
    /* display: none; */
    font-family: 'Space Mono', monospace;
    color: var(--background);
    text-align: center;
}
.om{
    /* display: none; */
    font-family: 'Space Mono', monospace;
    font-size: 2rem;
    font-weight: 900;
    color: var(--background);
    text-align: center;
}

p a{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-weight: 400;
    text-align: initial;
    text-decoration: underline;
    text-transform: none;
    color: var(--primary);
    transition: background-color 0.125s linear, color 0.125s linear;
}

p a:hover,
p a:focus{
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--background);
    background: var(--primary);
}

::selection {
    color: var(--background);
    background: var(--primary);
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* THREE.js */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.threejs-wrapper{
    grid-area: threejs;
    grid-column: 1 / span 12;
    grid-row: 1;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 56vh;
    height: 100svh;
    /* background-color: var(--debug); */
}
@media screen and (min-width: 1024px) {
	.threejs-wrapper{
        grid-column: 5 / span 8;
        position: sticky;
        top: 0;
        width: calc(100% + 1rem);
        transform: translate3d(-1rem,0,0);  
    }
}

@media screen and (min-width: 1366px) {
	.threejs-wrapper{
        grid-column: 4 / span 9;
    }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Navigation Structure */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.nav-wrapper{
    position: fixed;
    display: grid;
    grid-area: nav;
    grid-column: 1 / span 12;
    grid-row: 1;
    /* grid-template-columns: auto; */
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    grid-template-areas: 
        'page'
        'online'
    ;
    
    z-index: 999;
    overflow-y: auto;
    border-top: 4px solid var(--primary);
    padding: 0 0 2rem;
    bottom: 0;
    width: 100%;
    height: 56vh;
    height: 100svh;
    background-color: rgba(229, 229, 220, 0.64);
    /* background-image: radial-gradient(rgba(0,0,0,0.24) 8%, transparent 0%); */
    /* background-position: 0; */
    /* background-size: 8px 8px; */
    /* background-attachment: fixed; */
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    transition: height 0.25s ease-in-out;
}
.nav-wrapper.nav-wrapper--hidden{
    overflow-y: hidden;
    padding: 0;
    height: 0svh;
}
@media screen and (min-width: 1024px) {
    .nav-wrapper{
        position: sticky;
        grid-column: 5 / span 8;
        grid-row: 1 / 1;
        grid-column-gap: 1rem;
        grid-row-gap: 4rem;
        grid-template-areas: 
            'page online'
        ;
        align-content: center;
        border-top: 0;
        /* border-bottom: 1px solid var(--primary);  */
        padding: 0;
        top: 0;
        left: initial;
        bottom: initial;
        right: initial;  
        width: calc(100% + 1rem); 
        height: auto;
        min-height: 4rem; 
        backdrop-filter: blur(64px);
        -webkit-backdrop-filter: blur(64px);
        transform: translate3d(-1rem,0,0); 
    }
    .nav-wrapper.nav-wrapper--hidden{
        bottom: initial;
        /* padding: 0; */
    }
}
@media screen and (min-width: 1366px) {
    .nav-wrapper{
        grid-column: 4 / span 9;
    }
    .nav-wrapper.nav-wrapper--hidden{
        bottom: initial;
    }
}
@media (prefers-color-scheme: dark) {
    .nav-wrapper{
        background-color: rgba(38, 38, 44, 0.64);
        /* background-image: radial-gradient(rgba(255,255,255,0.16) 8%, transparent 0%); */

        /* background-color: rgba(238,238,232, 0.64); */
        /* background-image: radial-gradient(rgba(0,0,0,0.24) 8%, transparent 0%); */
    }
}

.nav-wrapper-toggle{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9999;
    padding: 0.5rem;
    border: 0.125rem solid var(--primary);
    border-radius: 4rem;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2.5rem;
    height: 2.5rem;
    background: var(--background);
    transition: all 0.125s linear;
}
.nav-wrapper-toggle:hover,
.nav-wrapper-toggle:focus{
    border-color: var(--background);
    background: var(--primary);
}
.nav-wrapper-toggle__icon{
    position: relative;
    display: inline-block;
    border-radius: 0.25rem;
    width: 100%;
    height: 0.125rem;
    background: var(--primary);
    transform-origin: center;
    transition: background-color 0.125s ease;
}
.nav-wrapper-toggle__icon::before,
.nav-wrapper-toggle__icon::after {
    content: '';
    position: absolute;
    display: inline-block;
    border-radius: 4px;
    left:0;
    width: 100%;
    height: 0.125rem;
    background: var(--primary);
    transition: all 0.125s ease;
}
.nav-wrapper-toggle__icon::before{
    top: -6px;
}
.nav-wrapper-toggle__icon::after{
    bottom: -6px;
}
.nav-wrapper-toggle:hover .nav-wrapper-toggle__icon,
.nav-wrapper-toggle:focus .nav-wrapper-toggle__icon,
.nav-wrapper-toggle:hover .nav-wrapper-toggle__icon::before,
.nav-wrapper-toggle:focus .nav-wrapper-toggle__icon::before,
.nav-wrapper-toggle:hover .nav-wrapper-toggle__icon::after,
.nav-wrapper-toggle:focus .nav-wrapper-toggle__icon::after{
    background: var(--background);
}
.nav-wrapper-toggle__icon.open{
    height: 0;
}
.nav-wrapper-toggle__icon.open::before{
    top: -1px;
    transform:rotate(45deg);
}
.nav-wrapper-toggle__icon.open::after{
    bottom: -1px;
    transform:rotate(-45deg);
}

nav{}

nav a{
    display: inline-block;
    position: relative;
    overflow: hidden;
    isolation: isolate;
    margin: 0;
    padding: 0.25rem 1rem;
    border: 2px solid var(--background);
    border-radius: 4rem;
    width: auto;
    min-width: 6rem;
	font-size: 1.25rem; 
    font-weight: 400; 
    letter-spacing: 0.025rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--background);
    transition: all 0.125s linear;
}

nav a::before{
    content: '';
    display: inline-block;
    z-index: -1;
    position: absolute;
    border-radius: 4rem;
    inset: 0;
    background-color: var(--primary);
    transform: translate3d(-101%, 0, 0);
    transition: all 0.125s linear;
}

nav a:hover,
nav a:focus{
    border-color: transparent;
    color: var(--primary);
    background: var(--background);
    
}
nav a:hover::before,
nav a:focus::before{
    transform: translate3d(0, 0, 0);
}
nav a:active{
    border-color: var(--primary);
    color: var(--background);
    background: var(--primary);
}
@media screen and (min-width: 1024px) {
    nav a{
        font-size: 1rem;
    }
    nav a:hover,
    nav a:focus{
        /* border-color: var(--primary); */
        /* color: var(--background); */
        /* background: var(--primary); */
        
    }
}

nav.page{
    grid-area: page;
    grid-column: 1 / span 12;
    grid-row: 1;
    align-self: end;
}
@media screen and (min-width: 1024px) {
    nav.page{
        grid-column: 2 / span 7;
        grid-row: 1;
        display: flex;
        align-self: center;
        transform: translate3d(1.75rem,0,0); 
    }
}
nav.page a{
    display: block;
    border-color: transparent;
    margin: 0 auto 0.64rem; 
    width: auto;
    max-width: 8rem;
    color: var(--forground);
}

nav.page a:hover,
nav.page a:focus{
    border-color: transparent;
    color: var(--background);
    background-color: transparent;
}
@media screen and (min-width: 1024px) {
    nav.page a{
        display: inline-block;
        margin: 0 0 0 0;
        max-width: initial;
    } 
    nav.page a:hover,
    nav.page a:focus{
        /* padding: 4px 24px 4px 8px; */
    }
}


nav.online{
    grid-area: online;
    grid-column: 1 / span 12;
    grid-row: 2;
    align-self: start;
}
@media screen and (min-width: 1024px) {
    nav.online{
        grid-column: 9 / span 3;
        grid-row: 1;
        display: flex;
        align-self: center;
        justify-content: end;
        text-align: right;
    }
}

nav.online a{
    display: block;
    border: 0 solid var(--primary);
    border-radius: 4rem;
    margin: 0 auto 0.5rem; 
    padding: 0.5rem;
    width: auto; 
    min-width: 2rem;
    max-width: 2rem;
    height: 2rem;
}
nav.online a:hover,
nav.online a:focus{
    border-color: var(--primary);
    color: var(--background);
    background: var(--primary);
}
nav.online a svg{
    fill: var(--foreground);
}
nav.online a:hover svg,
nav.online a:focus svg{
    fill: var(--background);
}
@media screen and (min-width: 1024px) {
    nav.online a{
        display: inline-block;
        margin: 0 0 0 0.32rem;
        /* padding: 4px 24px 4px 8px; */
        min-width: initial;
        max-width: initial;
        font-size: 0.8rem;
    }
    nav.online a:hover,
    nav.online a:focus{
        /* padding: 4px 24px 4px 8px; */
    }
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Header Structure */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
	    
header{
    display: grid;
    grid-area: header;
    grid-column: 1 / span 12;
    grid-row: 1;
    grid-template-columns: auto;
    grid-column-gap: initial;
    grid-row-gap: 0;
    grid-template-areas: 
        'header-inner'
    ;
    align-content: center;
    justify-content: center;
    z-index: 1;
    width: auto;
    height: 100svh;
    background: var(--primary);
    background-image: radial-gradient(rgba(255,255,255,0.16) 8%, transparent 8%);
    background-position: 0;
    background-size: 0.5rem 0.5rem;
    background-attachment: fixed;
}
@media (prefers-color-scheme: dark) {
    header {
        background-image: radial-gradient(rgba(0,0,0,0.32) 8%, transparent 0%);
     }
}
header .header-inner{
    display: grid;
    grid-area: header-inner;
    grid-template-columns: auto;
    grid-column-gap: initial;
    grid-row-gap: 2rem;
    grid-template-areas: 
        'logo'    
        'name'
        'title'
        'contact'
    ;

}
@media screen and (min-width: 1024px) {
	header{
        grid-area: header;
		grid-column: 1 / span 4;
        grid-row: 1 / 4;
        grid-template-areas: 
        'logo'
        'name'    
        'title'
        'contact'
        ;
        align-content: start;
        height: auto;
        /* background: transparent; */
        /* background-image: none; */
    }
    header .header-inner{
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media screen and (min-width: 1366px) {
	header{
		grid-column: 1 / span 3;
    }
}

header .logo{
    grid-area: logo;
    margin: 0 auto;
    width: 8rem;
    fill: var(--background);	
}
@media screen and (min-width: 1024px) {
	header .logo{
        /* fill: var(--primary);	 */
    }
}
@media screen and (min-width: 1366px) {
	header .logo{
        /* width: 8rem; */
    }
}


header h1{
    grid-area: name;
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    line-height: 80%;
    /* letter-spacing: 0.125rem; */
    text-align: center;
    text-transform: uppercase;
    color: var(--background);
}

@media screen and (min-width: 1024px) {
	header h1{
		/* color: var(--foreground); */
	}
}

header h2{
    grid-area: title;
    border-bottom: 0;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.25rem;
    text-align: center;
    color: var(--background);
}
@media screen and (min-width: 1024px) {
	header h2{
		/* color: var(--foreground); */
	}
}

header nav.contact{
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 0.64rem;
    grid-row-gap: 1rem;

    /* grid-template-areas: 
        'link-first link-last'
    ; */
    grid-template-areas: 
            'link-first'
            'link-last'
        ;
    grid-area: contact;
    justify-content: center;
    margin: 0 auto;
}
@media screen and (min-width: 1024px) {
	header nav.contact{
        /* display: none; */
        grid-column-gap: 1rem;
        margin: 0;
    }
}
@media screen and (min-width: 1366px) {
	header nav.contact{
        grid-column-gap: 1rem;
        grid-template-areas: 
            'link-first'
            'link-last'
        ;
   }
}

header nav.contact a{
    /* border-color: var(--background); */
    /* border-radius: 4rem; */
    /* color: var(--background); */
}
header nav.contact a::before{
    background-color: var(--background);
}

header nav.contact a:first-child{
    grid-area: link-first;
    margin: 0 auto;
}
header nav.contact a:last-child{
    grid-area: link-last;
    margin: 0 auto;
}

header hr.hr{
    grid-area: hr;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Main Structure */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

main{
    grid-area: main;
    grid-column: 2 / span 10;
    grid-row: 2;
    width: auto;
    height: auto;
}
@media screen and (min-width: 1024px) {
	main{
        grid-column: 6 / span 6;
        grid-row: 1 / 5;
    }
}
@media screen and (min-width: 1366px) {
	main{
		grid-column: 5 / span 7;
    }
}

main section{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 4rem;
    grid-template-areas:     
        'heading'
        'description'    
        'article'
    ;
    justify-content: start;
    /* scroll-snap-align: start; */
    padding: 8rem 0 0; /* assists with anchor scrolling */
}
main section:first-child{
    /* padding: 0; */
}
main section:last-child{
    padding: 8rem 0; 
}
@media screen and (min-width: 1366px) {
	main section{
        grid-template-columns: repeat(12, 1fr);
        grid-auto-columns: 1fr 1fr;
        grid-column-gap: 2rem;
        grid-template-areas: 
        'heading heading'
        'description description'    
        'article article'
        ;
    }
}


main section h1{
    grid-area: heading;
    grid-column: 1 / span 12;
    grid-row: auto;
    /* font-family: 'Barlow Condensed', sans-serif; */
}

main section p{
    grid-area: description;
    grid-column: 1 / span 12;
    grid-row: auto;
}
@media screen and (min-width: 1366px) {
    main section p{
        grid-column: 1 / span 9;
    }
}

main section article{
    grid-area: article;
    grid-column: auto / span 12;
    grid-auto-columns: 1fr;
    grid-row: auto;
    padding: 0 1.5rem 0 0;
}

main section article p{
    margin-bottom: 1rem;
}

main section article.article-grid ol{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    grid-template-areas: 
        'listing'
    ;
}
main section article.article-grid ol li{
    grid-area: article;
    grid-auto-flow: dense;
    grid-column: auto / span 12;
    grid-auto-columns: 1fr;
    grid-row-start: 3;
    grid-row: auto;
    width: auto;
}
@media screen and (min-width: 1366px) {
	main section article{
        grid-column: auto / span 6;
        grid-auto-columns: 1fr 1fr;
    }
    main section article.article-grid{
        grid-column: auto / span 12;
    }
    main section article.article-grid ol{
        grid-template-columns: repeat(12, 1fr);
        grid-auto-columns: 1fr 1fr;
        grid-template-areas: 
        'listing listing'
        ;
    }
    main section article.article-grid ol li{
        grid-column: auto / span 6;
        grid-auto-columns: 1fr 1fr;
    }
}


.about{
    row-gap: 0;
    align-items: center;
    align-content: center;
    position: relative;
    padding: 8rem 0 4rem;
    /* height: 100svh; */
}
@media screen and (min-width: 1024px) {
	.about{
        
        /* padding-top: 8rem; */
    }
}
.about .bio-image-wrap{
    grid-column: 3 / span 8;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    /* background-color: var(--debug); */
    border-radius: 16rem;
    width: 100%;
    max-width: 24rem;
    aspect-ratio: 1 / 1.33;
    isolation: isolate;
    transition: transform .75s ease;
}
@media screen and (min-width: 1024px) {
	.about .bio-image-wrap{
        grid-column: 4 / span 6;
    }
}

.about .bio-image-inner{
    display: inline-block;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    border: 1rem solid var(--primary);
    border-radius: 16rem;
    width: 100%;
    max-width: 24rem;
    aspect-ratio: 1;
    box-shadow: inset 0 0 2rem rgba(0,0,0,0.32);
}
.about .bio-image{
    display: inline-block;
    position: absolute;
    bottom: -1rem;
    left: 1.5rem;
    width: 100%; 
    max-width: 24rem;
    transition: transform 1s ease;
}
.about .bio-image-border{
    display: inline-block;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    border-bottom: 1rem solid var(--primary);
    border-right: 1rem solid var(--primary);
    border-left: 1rem solid var(--primary);
    border-top: 1rem solid transparent;
    border-radius: 16rem;
    width: 100%;
    max-width: 24rem;
    aspect-ratio: 1;
    /* box-shadow: inset 0 0 2rem rgba(0,0,0,0.32); */
}
.about .bio-image-wrap:hover{
    transform: scale3d(1.05,1.05,1.05);
}
.about .bio-image-wrap:hover .bio-image{
    transform: scale3d(1.08,1.08,1.08);
}
@media screen and (min-width: 1024px) {
	.about .bio-image-wrap{
        grid-column: 1 / span 5;
    }
}
@media screen and (min-width: 1366px) {
	.about .bio-image-wrap{
        grid-column: 1 / span 4;
    }
}

.about h1{
    grid-column: 1 / span 12;
    margin: 1rem 0 0;
    font-family: 'Space Mono', monospace;
    font-family: "tt-commons-pro", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: var(--foreground);
    transform: translate3d(0, 1.5rem, 0);
}
@media screen and (min-width: 1024px) {
	.about h1{
        /* grid-column: 6 / span 7; */
        font-size: 3rem;
        text-align: left;
        transform: translate3d(0, 1.5rem, 0);
    }
}
@media screen and (min-width: 1366px) {
	.about h1{
        /* grid-column: 5 / span 7; */
        font-size: 4rem;
        transform: translate3d(0, 2rem, 0);
    }
}

.about p{
    grid-column: 1 / span 12;
    margin: 4rem 0 0;
    /* font-family: 'Space Mono', monospace; */
    font-size: 1.25rem;
    font-weight: 400;
    text-align: left;
    color: var(--foreground);
}
.about p:last-child{
    /* margin: 0; */
} 

hr{
	margin: 1rem auto;
	border: 0;
    width: 100%;
	height: 1px;
	background: var(--neutral);
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Aside Structure */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

aside{
    display: grid;
    grid-area: aside;
    grid-column: 1 / span 12;
    grid-row: 3;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: initial;
    grid-row-gap: 0;
    grid-template-areas: 
        'aside-inner'
    ;
    padding: 4rem 0;
    align-content: center;
    justify-content: center;
    height: auto;
    background: var(--primary);
    /* background: var(--debug); */
    background-image: radial-gradient(rgba(255,255,255,0.24) 8%, transparent 8%);
    background-position: 0;
    background-size: 0.5rem 0.5rem;
    background-attachment: fixed; 
    align-content: start;
}
.aside-inner{
    display: grid;
    grid-area: aside-inner;
    grid-column: 2 / span 10;
    grid-template-columns: auto;
    grid-column-gap: initial;
    grid-row-gap: 2rem;
    grid-template-areas: 
        'aside-heading' 
        'aside-content' 
        'aside-hr'    
        'aside-acknowledgement'
    ;
    align-content: center;
}
@media screen and (min-width: 1024px) {
	aside{
        grid-area: aside;
        grid-column: 1 / span 4;
        /* grid-row: 3 / 3; */
        padding: 12rem 0 0;
    }
    aside .aside-inner{
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media screen and (min-width: 1366px) {
	aside{
		grid-column: 1 / span 3;
    }
}
@media (prefers-color-scheme: dark) {
    aside {
        background-image: radial-gradient(rgba(0,0,0,0.32) 8%, transparent 0%);
     }
}

.aside-heading {
    grid-area: aside-heading;
    margin: 0;
    /* font-family: 'Barlow Condensed', sans-serif; */
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 150%;
    text-align: left;
    text-transform: uppercase;
    color: var(--background);
}
@media screen and (min-width: 1024px) {
	.aside-heading {
        text-align: center;
    }
}
.aside-content {
    grid-area: aside-content;
    margin: 0;
    font-size: 1rem;
    line-height: 150%;
    text-align: left;
    color: var(--background);
}
@media screen and (min-width: 1024px) {
	.aside-content {
        text-align: center;
    }
}
p.aside-content a{
    color: var(--background);
}
.aside-hr{
    grid-area: aside-hr;
    margin: 0;
    background-color: var(--background);
}
.aside-acknowledgement{
    grid-area: aside-acknowledgement;
    margin: 0;
    color: var(--background);
}
.aside-acknowledgement a{
    color: var(--background);
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Footer Structure */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

footer{
	grid-area: footer;
    grid-column: 2 / span 10;
    grid-row: 4;
    margin: 0;
    padding: 2rem 0 6rem;
    width: auto;
    color: var(--neutral);
    text-align: center;   
}
@media screen and (min-width: 1024px) {
	footer{
        grid-column: 6 / span 6;
        align-self: end;
        text-align: left;
        padding: 8rem 0 2rem;
    }
}

@media screen and (min-width: 1366px) {
	footer{
        grid-column: 5 / span 7;
    }
}

.footer-acknowledgement{
    /* grid-area: aside-acknowledgement; */
    margin: 0 0 2rem;
    color: var(--neutral);
}
.footer-acknowledgement a{
    color: var(--primary);
    text-decoration: none;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Utilities */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media screen and (min-width: 1024px) {
	.hide--desktop{
		display:none;
	} 
}

@media (prefers-color-scheme: light) {
    .hide--light{
        display: none;
    }
    .hide--dark{
        display: initial;
    }
}
@media (prefers-color-scheme: dark) {
    .hide--light{
        display: initial;
    }
    .hide--dark{
        display: none;
    }
    
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Effects & Animations */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.ros{
    opacity: 0;
    filter: blur(24px);
    transform: translate3d(0rem, 0rem, 0);
    transition: opacity 1s ease, filter 0.75s ease, transform 0.5s ease;
    /* transition-delay: 0.5s; */
    transition-delay: calc(100ms * var(--order));
    
}
.ros.reveal{ 
    opacity: 1;
    filter: blur(0);
    transform: translate3d(0,0,0);
} 

@media(prefer-reduced-motion){
    .reveal-on-scroll{
        transition: none;
    }
}

