body{
    display: grid;
    font-family: monospace;
    padding: 8rem;
    text-align: center;
    background: #212121; 
}

h1{
    margin: 0 0 2rem;
    font-size: 1rem;
    font-weight: 100;
}
h2{
    margin: 2rem 0;
    font-size: 1rem;
    font-weight: 100;
}

.note{
    display: inline-block;
    margin: 0.25rem auto;
    padding: 0.5rem 1rem;
    min-width: 6.5rem;
    font-size: 0.75rem;
    color: #e3e3e3;
    border: 1px solid greenyellow;
    border-radius: 25rem;
    background: #212121;
}
.note:hover{
    cursor: pointer;
    color: #212121;
    background: greenyellow;
}

#oscilloscope{
    display: inline-block;
    margin: 2rem auto;
    /* padding: 0.25rem 0; */
    aspect-ratio: 1 / 1;
    width: 16rem;
    border-radius: 25rem;
    background: #242424; 
    /* background: transparent;  */
}